body {
  padding: 20px 20px 20px 20px;
  font-family: sans-serif;
  background-color: #F0F0F0; }

#talk {
  width: 300px;
  height: 300px;
  background-color: #ADD8E6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid grey;
  margin: auto; }
